
<%= render "partner_applications/flash_messages" %>
<div style="padding-top: 50px;"></div>
<!-- Partner Application Form -->
 <%= render "partner_applications/form" %>
 
<div style="padding-top: 50px;"></div>
<%= render "shared/footer" %>
