# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*

# Ignore log files and temp files.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore local uploads and cache.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore precompiled assets
/public/assets/*
!/public/assets/.keep

# Ignore master key for decrypting credentials.
/config/master.key

# Ignore JS build artifacts
/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore dependencies
/node_modules
