/* Error: Can't find stylesheet to import.
 *    ,
 * 15 | /    @use "bootstrap/scss/bootstrap" with (
 * 16 | |      $primary: vars.$haitian-blue,
 * 17 | |      $danger: vars.$coral-red,
 * 18 | |      $success: vars.$palm-green,
 * 19 | |      $warning: vars.$golden-yellow,
 * 20 | |      $info: vars.$ocean-blue,
 * 21 | |    
 * 22 | |      $body-bg: vars.$pure-white,
 * 23 | |      $body-color: vars.$dark-gray,
 * 24 | |    
 * 25 | |      $font-family-sans-serif: vars.$font-body,
 * 26 | |      $font-family-base: vars.$font-body
 * 27 | |    );
 *    | '----^
 *    '
 *   application.scss 15:4  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 15 \2502  \250c     @use \"bootstrap/scss/bootstrap\" with (\a 16 \2502  \2502       $primary: vars.$haitian-blue,\a 17 \2502  \2502       $danger: vars.$coral-red,\a 18 \2502  \2502       $success: vars.$palm-green,\a 19 \2502  \2502       $warning: vars.$golden-yellow,\a 20 \2502  \2502       $info: vars.$ocean-blue,\a 21 \2502  \2502     \a 22 \2502  \2502       $body-bg: vars.$pure-white,\a 23 \2502  \2502       $body-color: vars.$dark-gray,\a 24 \2502  \2502     \a 25 \2502  \2502       $font-family-sans-serif: vars.$font-body,\a 26 \2502  \2502       $font-family-base: vars.$font-body\a 27 \2502  \2502     );\a    \2502  \2514 \2500 \2500 \2500 \2500 ^\a    \2575 \a   application.scss 15:4  root stylesheet";
}
