/* Error: Can't find stylesheet to import.
 *    ,
 * 11 | / @use "bootstrap/scss/bootstrap" with (
 * 12 | |   $primary: $haitian-blue,
 * 13 | |   $danger: $coral-red,
 * 14 | |   $success: $palm-green,
 * 15 | |   $warning: $golden-yellow,
 * 16 | |   $info: $ocean-blue,
 * 17 | |   $body-bg: $pure-white,
 * 18 | |   $body-color: $dark-gray
 * 19 | | );
 *    | '-^
 *    '
 *   citizen.scss 11:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 11 \2502  \250c  @use \"bootstrap/scss/bootstrap\" with (\a 12 \2502  \2502    $primary: $haitian-blue,\a 13 \2502  \2502    $danger: $coral-red,\a 14 \2502  \2502    $success: $palm-green,\a 15 \2502  \2502    $warning: $golden-yellow,\a 16 \2502  \2502    $info: $ocean-blue,\a 17 \2502  \2502    $body-bg: $pure-white,\a 18 \2502  \2502    $body-color: $dark-gray\a 19 \2502  \2502  );\a    \2502  \2514 \2500 ^\a    \2575 \a   citizen.scss 11:1  root stylesheet";
}
