<h2>⚠️ Submission Rejected</h2>
<p>Hi <%= @submission.user.first_name %>, unfortunately, your BonID submission was rejected.</p>

<%= render partial: "identity_submission_mailer/submission_summary", locals: { submission: @submission } %>

<p>Please revise and resubmit your documents to continue verification.</p>
